
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'styles/register/registration.css' %}"media="screen" title="no title"  charset="utf-8">
    <title>Registration</title>
  </head>

  <body>

    {% if messages %}
      <ul class="messages">
      {% for message in messages %}
        <li{% if message.ERROR %} class="{{ message.ERROR }}"{% endif %}>{{ message }}</li>
      {% endfor %}
      </ul>
    {% endif %}
    {% if username %}
    	<p>Hello {{ username }}!</p>
    	<a href = "{% url 'register:logout' %}">Logout</a>
    {% endif %}
    <div id="main">

    <form action="{% url 'register:register' %}" method="POST">
      {% csrf_token %}

            <table >
          <h4>Register</h4>
              <tr><td> Username:    </td><td> <input type="text" name="username"></input></td></tr>
              <tr><td> Email:       </td><td> <input type="text" name="email"></input></td></tr>
                <tr><td> Permissions:</td><td><select name="permissions" class="permissions">
                {% for permission in permissions %}
                	<option value="{{permission.desc}}" >{{permission.desc}}</option>
                {% endfor %}

<!--          <option value="supervisor">supervisor</option>-->
                </select><br></td></tr>

              <tr><td colspan="2" align="center"><input type="submit" label="register"></input></td></tr>

        </table>

    </form>
    </div>
  </body>
</html>
