<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'styles/register/login.css' %}"media="screen" title="no title"  charset="utf-8">
    <title>Login</title>
  </head>

  <body>
    {% if messages %}
      <ul class="messages">
      {% for message in messages %}
        <li{% if message.ERROR %} class="{{ message.ERROR }}"{% endif %}>{{ message }}</li>
      {% endfor %}
      </ul>
    {% endif %}
    {% if username %}
    	<p>Hello {{ username }}!</p>
    	<a href = "{% url 'register:logout' %}">Logout</a>
    {% endif %}

    <form id="form" action="{% url 'register:login' %}" method="POST">
      {% csrf_token %}
      <div class="block">
          <h4>Login</h4>
          Email <input type="text" name="email"></input>
          Password <input type="password" name="password"></input>
          <input type="submit" label="login"></input>
      </div>
    </form>
    </div>
  </body>
</html>